body {
  font-family: 'Raleway', sans-serif;
}

nav {
  font-family: 'Comfortaa', cursive;
}

 #map, #map2 {
  height: 400px;
  width: 100%;
  margin: 10px 0px;
 }

 .container-fluid {
   margin: 20px 0px;
 }

#submitresponsealert {
  display: none;
}

#errormessage {
    font-weight: bold;
    color: red;
}

#locate-button {
  min-width: 150px;
}

.btn {
  font-family: 'Raleway', sans-serif;
}

.form-control {
  font-family: 'Raleway', sans-serif;
}

#logo {
  max-width: 50px;
}

@media (min-width: 768px) {
    #berryselect{
        width: auto;
    }
}
