 #map, #map2 {
  height: 400px;
  width: 100%;
  margin: 10px 0px;
 }

 .container-fluid {
   margin: 20px 0px;
 }

#submitresponsealert {
  display: none;
}

#errormessage {
    font-weight: bold;
    color: red;
}
#berryselect{
    width: auto;
}
